**/node_modules
**/venv
**/.venv
**/.git
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.Python
env/
dist/
build/
*.egg-info/
.env
.env.local
.DS_Store
coverage/
.coverage
htmlcov/
db.sqlite3
debug_output.txt
